{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Events List with title, sessions and ticket types</h1>
            </div>     		
			<div class="welcome">			
				<!-- banner-form -->
				<div class="banner-form banner-form-full">					
					<!-- data start -->
					<table>
						{% for dataset in data %}   
							{% for events in dataset %}
							{% if events.name %}
							<tr><td colspan="2"><b>{{ events.name }}</b></td></tr>
							{% endif %}
								{% for sessions in events.sessions %}
									{% for session in sessions|reverse %}
                                        {% if session.datetime_start %}
										    <tr><td>Date:</td><td>{{ session.datetime_start | date('l j F Y')}}</td></tr>
                                        {% endif %}
									{% endfor %}
								{% endfor %}
								{% for ticket_types in events.ticket_types %}
									{% for ticket_type in ticket_types %}
                                        {% if ticket_type.name %}
									        <tr><td>Ticket Type:</td><td>{{ ticket_type.name}}</td></tr>
                                        {% endif %}
									{% endfor %}
								{% endfor %}
							{% endfor %}
						{% endfor %}					
					</table>
					<!-- data end -->				
				</div>
			</div>
			<?php// print_r($data); ?>		
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
